---
import MainLayout from '../layout/MainLayout.astro';
---

<MainLayout title="Team Logistics" description="Conectando negocios con eficiencia y ahorro.">
  <p>Team Logistics website</p>
</MainLayout>