---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title} | {description}</title>
  </head>
  <body>
    
    <slot /> 
    
    <style is:global>
      :root {
        --blue: #2B4E9C;
        --grey: #737373;
        --red: #BF2430;
        --white: #FFF;
      }

      * {
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
    </style>

  </body>
</html>